*
{
    margin:0;
    padding:0;
}
nav{
    background-color: rgb(18, 19, 18);
    color: rgb(240, 236, 236);
    height: 55px;
    font-size:27px;
    display:flex;
    align-items:center;
    padding:0 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul{
    list-style-type:none;
}
.gameContainer
{
  display:flex;
  justify-content:center;
  margin-top:50px;
}

.container
{
  display:grid;
  grid-template-rows:repeat(3,10vw) ;
  grid-template-columns:repeat(3,10vw) ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri;
}

.box{
    border:2px solid black;
    font-size:7vw;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
   background-color:orange;
}

.gameinfo{
    padding:0 34px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imgbox img{
    width:0;
    transition:width is ease-in-out;
}   

.br-0{
    border-right:0;
}

.bl-0{
    border-left:0;
}

.bt-0{
    border-top:0;
}

.bb-0{
    border-bottom:0;
}

#reset {
     margin:0;
     padding:2px 20px;
     background-color:rgb(83, 127, 209);
     border-radius:10px;
     cursor:pointer;
}